**Q1. What are the characteristics of the tuples? Is tuple immutable?**

**Characteristics of the tuples are given below:**
* Tuples are a data type that belongs to the sequence data type category.
* Tuples are defined in the same way as lists, but enclosed within parenthesis instead of square braces.
* Elements of the tuple must have a defined order.
* Tuples are similar to lists in Python, but they have the property of being immutable.

Tuples does not support mutability.It means we cannot reassign the elements in foresaid tuples.
Example:

In [3]:
t1=('shreyash',1,3,4,5,(4j+5))
print(t1)
t1[0]='jiwane'## reassinging the element in the given index

('shreyash', 1, 3, 4, 5, (5+4j))

TypeError: 'tuple' object does not support item assignment

**Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.**

In python,tuple supports only two method,they are : 
* count()
* index()

Tuples owes property of immutability that the reason it only has two methods.

In [18]:
#using count() method 
t1=('shreyash',1,3,4,5,(4j+5),5,7)
t1.count(5)# Returns the number of times elements present in a given tuple

2

In [17]:
#using index() method 
t1=('shreyash',1,3,4,5,(4j+5),5,7)
t1.index(5)# Returns the index of the given element present in a tuple

4

**Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]**

In python,sets are the datatypes that returns unique values.It means it does not allow duplicate values.

In [26]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
print(set(List)) # Returns unique values

{1, 2, 3, 4}

**Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.**

Sets supports union() & update() methods in python.

*s.union(t)  s | t   new set with elements from both s and t*

*s.update(t) s |= t  return set s with elements added from t*

In [32]:
s={1,3,5,6,7}
t={2,35,4,5,8}

#union 
print("Union:",s|t)

Union: {1, 2, 3, 35, 5, 6, 7, 4, 8}

In [33]:
#Example defining update() method
list1 = [1, 2, 3]
list2 = [5, 6, 7]
list3 = [10, 11, 12]
set1 = set(list2)
set2 = set(list1)
set1.update(set2)
print(set1)
set1.update(list3)
print(set1)

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7, 10, 11, 12}

**Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.**

Dictionaries in Python is a data structure, used to store values in key:value format. This makes it different from lists, tuples, and arrays as in a dictionary each key has an associated value.
For example :
user ={'name':'shreyash','city':'chandrapur'}
As of Python version 3.7, dictionaries are ordered.
If in a dictionary,key-values pairs duplicates then Python returns the ordered values.

**Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.**

In Python,we can create a nested dictionary.Dictonary holds a key-value pair.Key-value pair can be tuples,list,set,another dictioanary and this is called nested dictionary.
Nesting is a powerful feature,as the following examples will demonstrate.
* A list of Dictionaries
* A list in a Dictionary
* A Dictionary in a Dictionary

In [1]:
##A list of Dictionaries

alien_0={'color':'green','points':5}
alien_1={'color':'yellow','points':10}
alien_2={'color':'red','points':15}
alien=[alien_0,alien_1,alien_2]
print(alien)

[{'color': 'green', 'points': 5}, {'color': 'yellow', 'points': 10}, {'color': 'red', 'points': 15}]

In [4]:
##A list in a Dictionary
pizza={
    'crust':'thick',
    'toppings':['mushroom','extra cheese']
}
print(f"You ordered a {pizza['crust']}-crust pizza with the follwing toppings: ")
for i in pizza['toppings']:
    print(i.upper())

You ordered a thick-crust pizza with the follwing toppings:
MUSHROOM
EXTRA CHEESE

In [7]:
##A Dictionary in a Dictionary
users={
    'aeinstein':{
        'first':'albert',
        'last':'einstein',
        'location':'nagpur'
    }
}
for i in users.items():
    print(i)

('aeinstein', {'first': 'albert', 'last': 'einstein', 'location': 'nagpur'})

**Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}**

In [17]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics',['Python','Machine Learning','Deep Learning'])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

**Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}**

The objects returned by dict.keys(), dict.values() and dict.items() are view objects. They provide a dynamic view on the dictionaryâ€™s entries, which means that when the dictionary changes, the view reflects these changes.

In [38]:
#keys() method
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print("Keys:")
for i in dict1.keys():
    print("\t",i)

Keys:
	 Sport
	 Teams

In [39]:
#value() method
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print("Values: ")
for i in dict1.values():
    print("\t",i)

Values:
	 Cricket
	 ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']

In [40]:
#items() method 
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print("Items: ")
for i in dict1.items():
    print("\t",i)

Items:
	 ('Sport', 'Cricket')
	 ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])